@font-face {
  font-family: 'Muli';
  src:
    url("../fonts/Muli-Regular.woff")format("woff"),
    url("../fonts/Muli-Regular.woff2")format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src:
    url("../fonts/Muli-SemiBold.woff")format("woff"),
    url("../fonts/Muli-Semibold.woff2")format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src:
    url("../fonts/Muli-Bold.woff")format("woff"),
    url("../fonts/Muli-Bold.woff2")format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}